# Environment
.env
.env.*

# Dataset
datasets/

# Python
__pycache__/
*.pyc

#Angular
node_modules/
.angular/

# VS Code
.vscode/

# Office
*.docx
*.pdf

#Immagini
*.png
*.jpeg

#Markdown
*.md
.claude/